body {
    margin: 0;
    color: #cc968b;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-button {
    order: -1;
    /* Moves the button to the left */
    padding: 0.5rem 1rem;
    background-color: #e8a394;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.home-button:hover {
    background-color: #cc968b;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

main {
    flex: 1;
    /* This will allow the main content to expand */
    display: flex;
    padding: 50px;
}

.column {
    flex: 1;
    margin-lef padding: 50px;
}

.column:first-child {
    margin-right: 1rem;
}

.box1 {
    background-color: #e0e0e0;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 25rem;
    /* Sets the width of the box */
    height: 10rem;
    /* Sets the height of the box */
}

.box1:last-child {
    margin-bottom: 0;
}

.box1:hover {
    color: #fff;
    background-color: #cc968b;
}

.box2 {
    background-color: #e0e0e0;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 25rem;
    /* Sets the width of the box */
    height: 17rem;
    /* Sets the height of the box */
}

.box2:last-child {
    margin-bottom: 0;
}

.box2:hover {
    color: #fff;
    background-color: #cc968b;
}

.button {
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #e8a394;
}

footer {
    padding: 1rem;
    background-color: #f5f5f5;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}